
html,body{
  width:100%;
  height:100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


body{
	color: red;
	position: relative;
}

img{
 max-width:100%;
 height:auto;
}
